<nav id="nav">
    <ul>
        <li class="current">
            <%- link_to( 'Home', 'home') %>
        </li>
        <li>
            <%- link_to('Play', 'play') %>
            <ul>
                <li><a href="#">Lorem ipsum</a>
                </li>
                <li><a href="#">Magna veroeros</a>
                </li>
                <li><a href="#">Etiam nisl</a>
                </li>
                <li>
                    <a href="">Sed consequat</a>
                    <ul>
                        <li><a href="#">Lorem dolor</a>
                        </li>
                        <li><a href="#">Amet consequat</a>
                        </li>
                        <li><a href="#">Magna phasellus</a>
                        </li>
                        <li><a href="#">Etiam nisl</a>
                        </li>
                        <li><a href="#">Sed feugiat</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#">Nisl tempus</a>
                </li>
            </ul>
        </li>
        <li>
            <%- link_to( 'Lobby', 'lobby') %>
        </li>
        <%if (user) { %>
            <li>
                <%- link_to( 'Logout', 'logout') %>
            </li>
            <% } else { %>
                <li>
                    <%- link_to( 'Login', 'login') %>
                </li>
                <% } %>
    </ul>
</nav>